Flask
gunicorn
SQLAlchemy
alembic            
annotated-types   
anyio              
beautifulsoup4     
blinker            
certifi            
charset-normalizer 
click              
coverage          
cssselect          
distro             
exceptiongroup                 
Flask-Login        
Flask-Migrate      
Flask-Script       
Flask-SQLAlchemy   
Flask-WTF          
greenlet           
h11                
httpcore           
httpx              
idna               
iniconfig          
itsdangerous       
Jinja2             
jmespath           
lxml               
Mako               
MarkupSafe         
numpy              
openai             
packaging          
pandas             
parsel             
passlib            
pluggy             
pydantic          
pydantic_core      
pytest             
pytest-cov         
pytest-flask       
python-dateutil    
python-dotenv      
pytz               
requests           
sentry-sdk         
six                
sniffio            
soupsieve          
tomli              
tqdm               
typing_extensions 
tzdata             
urllib3            
w3lib              
Werkzeug           
WTForms     
urllib
urllib2