<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WebLivros(provisorio)</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/estilo.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <style>
    * {
     font-family: Times New Roman;
    }

    div#loading {
    display: none;
    }
    .loader {
      border: 8px solid #f3f3f3;
      border-radius: 50%;
      border-top: 8px solid #3498db;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
  
</head>
<body style = "background-color:#fafafa; padding:50px;">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
   
    <div class="container-fluid">
      
      <a class="navbar-brand" href="{{url_for('indice')}}">HOME</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class = "container">
          <div class = "row">
            <div class = "col-md-6">
              <form class="d-flex align-items-center form-search"  method='post' action = '/livros/busca_livros' style = "width:100%">
                <div class="input-group">
                  <select id= "selectBusca" name = "selectBusca" class="form-select form-select-sm" style="max-width:15%">
                  <option value = "Titulo">Titulo</option>
                  <option value="Autor">Autor</option>
                  </select>
                  <input type="search" class="form-control" placeholder="Busque livros por nome e autor..." id = "buscaLivro" name = "buscaLivro" />
                  <button onclick="loading();" style = "display: flex;
                    padding: 4px 12px;
                    background-color: black;
                    color:white;
                    font-weight: 200;
                    transition: all 0.2s;
                    align-items: left;" onclick = "buscarLivroAutor();" class="btn btn-outline-success" type="submit""><i class="bi bi-search"></i>Buscar</button>
                </div>
              </form>
            </div>
            <div class = "col-md-3">
              <ul class="navbar-nav me-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/livros/buscarLivrosGenero/Fantasy/0" >Fantasia</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/livros/buscarLivrosGenero/Fiction/0" >Ficção</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/livros/buscarLivrosGenero/Drama/0" >Drama</a>
                </li>
                <li class="nav-item dropdown">
                  <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Mais
                  </button>
                  <ul class="dropdown-menu dropdown-menu-light" style = "    max-height: 400px;
                    overflow-y: auto;">
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Architecture/0">Arquitetura</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Art/0">Arte</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Performing%20Arts/0">Artes Perfomáticas</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Language%20Arts%20%26%20Disciplines/0">Artes e Disciplinas da Linguagem</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Crafts%20%26%20Hobbies/0">Artesanato e passatempos</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Autobiography/0">Autobiografia</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Antiques%20%26%20Collectibles/0">Antiguidades e Colecionáveis</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Self-Help/0">Auto-Ajuda</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Study%20Aids/0">Auxílios de Estudo</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Bibles/0">Biblia</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Biography/0">Biografia</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/House Home/0">Casa</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Cooking/0">Cozinha</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Computers/0">Computadores</a></li>
                     <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/BODY MIND SPIRIT/0">Corpo,mente e espírito</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Science/0">Ciência</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Political Science/0">Ciência Política</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Social%20Science/0">Ciência Social</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Literary%20Collections/0">Coleções Literárias</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Literary%20Criticism/0">Criticismo Literário</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Design/0">Design</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Law/0">Direito</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Business%20%26%20Economics/0">Economias e Negócios</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Education/0">Educação</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Foreign%20Language%20Study/0">Estudo de Língua Estrangeira</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Sports%20%26%20Recreation/0">Esportes e Recreações</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Photography/0">Fotografia</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Philosophy/0">Filosofia</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Family%20%26%20Relationships/0">Família e Relacionamento</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Juvenile%20Fiction/0">Ficção Juvenil</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Young%20Adult%20Fiction/0">Ficção Jovem Adulta</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/History/0">História</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Humor/0">Humor</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Games%20%26%20Activities/0">Jogos e Atividades</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Gardening/0">Jardinagem</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Mathematics/0">Matemática</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Medical/0">Medicina</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Music/0">Música</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Nature/0">Natureza</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Juvenile%20Nonfiction/0">Não-Ficção Juvenil</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Young%20Adult%20Nonfiction/0">Não-Ficção Jovem Adulta</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Pets/0">Pets</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Poetry/0">Poesia</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Psychology/0">Psicologia</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Religion/0">Religião</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Health%20%26%20Fitness/0">Saúde e Bem-Estar</a></li>
                    
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Technology%20%26%20Engineering/0">Tecnologia e Engenharia</a></li>
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Transportation/0">Transporte</a></li>
                    
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/Travel/0">Viagem</a></li>
      
                    <li><a class="dropdown-item" href="/livros/buscarLivrosGenero/True%20Crime/0">True Crime</a></li>
                  </ul>
                </li>
              </ul>
             </div> 
            
          <div class = "col-md-3">
            <ul class="navbar-nav">
               {% if current_user.is_authenticated  %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="" style="cursor:default;">{{current_user.nome}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('usuarios_bp.logout')}}" style="color:white;">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('usuarios_bp.cadastrar')}}">Cadastre-se</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('usuarios_bp.login')}}">Fazer Login</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
        </div>
      </div>
    </nav>
  <div class = "container">
    {% block conteudo %}
    {% endblock conteudo %}
  </div>
</body>
</html>

<script type="text/javascript">
        function loading(){
          document.getElementById("loading").style.display = "block";
          document.getElementById("Conteúdo").style.display = "none";    
        }

</script>

<div class="loader" id="loading" name = "loading"></div>
