{% extends 'base.html' %}
{% block conteudo %}

{{teste}}

<div class="container text-center">
  <h2 style="text-align: center;">Lista de Livros</h2>
{% for livro in livros %}
  <div class="row" style = "margin-left: auto; margin-right:auto; margin-bottom:10px; max-width:60%;border-radius:30px; padding:3px; background: linear-gradient(#4337d440, rgba(0, 0, 0, 0));">
    <div class="col-md-3">
      
      {% if livro.linkCapa%}
      <img src="{{livro.linkCapa}}" style = "border-radius:30px;">
      {% else %}
      <img src="/static/images/imagem_indisponivel.png" style = "border-radius:30px;">
      {% endif %}
    </div>

      <div class = "col-md-9">
        <h5>{{livro.titulo}}</h5>
        <h6>{{livro.subtitulo}}</h6>
          {% if livro.autores%}
            Autor(es):
            {% for autores in livro.autores%}
              <div class = "autorLivro"><a href="/livros/buscarLivros/{{autores}}" style= "color:black;">{{autores}}</a></div>
            {% endfor %}
          {% endif %}
      </div>   
  </div>

{% endfor %}
</div>

{% endblock conteudo %}