{% extends 'base.html' %}
{% block conteudo %}

<script type="text/javascript">
        function auxiliar_busca(){ document.getElementById("buscaLivro").value = "{{textoBuscaLivro}}";}
        auxiliar_busca();

        {% if generoBuscado%}
          document.title =  '{{generoBuscado}}';
        {% else %}
          document.title =  '{{textoBuscaLivro}}';
        {% endif %}
</script>

{% if livros %}
  <div class="container text-center" id = "Conteúdo" style = "padding-top:10px;">
    {% if generoBuscado%}
      <h4 style="text-align: center;"> <b>{{generoBuscado}}</b></h4>
    {% else %}
    <h4 style="text-align: left;">Resultado da busca: {{textoBuscaLivro}}</h4>
    {% endif %}
  {% for livro in livros %}
    <div class="row" style = "margin-left: auto; margin-right:auto; margin-bottom:10px; max-width:60%;border-radius:30px; padding:3px; background: linear-gradient(#4337d440, rgba(0, 0, 0, 0));">
      <div class="col-md-3">
        {% if livro.linkCapa%}
        <img onclick = "submit('{{livro.id}}');" src="{{livro.linkCapa}}" style = "border-radius:30px;">
        {% else %}

        <div class = "capaLivro"  onclick="location.href = '/livros/paginalivro/' + '{{livro.id}}';" style = "border-radius:30px; margin-left:15px;" role = "link" tabIndex="0" >
          {{livro.titulo}}{{livro.subtitulo}}
        </div>

        {% endif %}
      </div>
  
        <div class = "col-md-9">
          <h5>{{livro.titulo}}</h5>
          <h6>{{livro.subtitulo}}</h6>
            {% if livro.autores%}
              Autor(es):
              {% for autores in livro.autores%}
                <div onclick="loading();" role = "link" tabIndex="0" ><a class = "autorLivro" href="{{url_for('livros_bp.buscar_por_autor', nomeAutor = autores, indiceInicial = 0 )}}" style= "color:black;">{{autores}}</a></div>
              {% endfor %}
            {% endif %}

          {% if livro.categorias%}
            <span style = "display:block;">
            {% for categoria in livro.categorias%}
              <a onclick="loading();" class = "linkGenero" href="/livros/buscarLivrosGenero/{{categoria}}">{{categoria}}</a>
            {% endfor %}
              </span>
          {% endif %}

          {% if livro.linkPreview%}
            
             <span style = "display:inline-flex;" > 
              <a onclick="loading();" href="{{livro.linkPreview}}"><img src="https://encrypted.google.com/intl/pt-BR/googlebooks/images/gbs_preview_button1.gif?hl=pt-br" alt = "Google Pré-visualização"></a>
              </span>
            
              
          {% endif %}
          
        </div>
    </div>
  {% endfor %}
    
    {% if textoBuscaLivro %}
    <div>
    {% if possuiProximo == 1 or indiceInicial !=0 %}
      {% if indiceInicial == 0 %}
      {% else %}
    <div onclick="loading();" style="width: fit-content; float:left;"><a class = "anterior" href="/livros/{{tipoDeBusca}}/{{textoBuscaLivro}}/{{indiceInicial-20}}">&laquo; Anterior</a></div>
      {% endif %}
      {% if possuiProximo == 0 %}
      {% else %}
    <div onclick="loading();" style="width: fit-content; float:right;"><a class = "proximo" href="/livros/{{tipoDeBusca}}/{{textoBuscaLivro}}/{{indiceInicial+20}}">Próximo &raquo</a></div>
      {% endif %}
    {% endif %}
    </div>
    {% elif generoBuscado %}

      <div>
        {% if colecao_genero.has_prev %}
        <div onclick="loading();" style="width: fit-content; float:left;"><a class = "anterior" href="{{url_for('livros_bp.buscar_por_genero', genero = generoBuscado, page=colecao_genero.prev_num)}}">&laquo; Anterior</a></div>
        {% endif %}
    
        {% if colecao_genero.has_next %}
        <div onclick="loading();" style="width: fit-content; float:right;"><a class = "proximo" href="{{url_for('livros_bp.buscar_por_genero', genero = generoBuscado, page=colecao_genero.next_num)}}">Próximo &raquo</a></div>
          {% endif %}
      </div>
    {% endif %}
    
  </div>


{% else %}
<div class="d-flex align-items-center justify-content-center vh-100">
          <div class="text-center">
            <h1 class="display-1 fw-bold"></h1>
            <p class="fs-3">Não há resultados</p>
            <p class="lead">
                Não há resultados de livros para sua busca: {{textoBuscaLivro}}
            </p>
        </div>
</div>

{% endif %}


<form action="" method="GET" id="formPagina" style = "display:none;">
    <input type="text" id="idDoLivro" name="idDoLivro">
  <input type="text"  id="urlAtual" name="urlAtual">
</form>


{% endblock conteudo %}