{% extends 'base.html' %}
{% block conteudo %}

<script type="text/javascript">
        function auxiliar_busca(){ document.getElementById("buscaLivro").value = "{{textoBuscaLivro}}";}
        auxiliar_busca();
</script>


{% if livros %}
  <div class="container text-center" id = "Conteúdo" style = "padding-top:10px;">
    {% if genero%}
      <h4 style="text-align: center;"> <b>{{genero}}</b></h4>
    {% endif %}
  {% for livro in livros %}
    <div class="row" style = "margin-left: auto; margin-right:auto; margin-bottom:10px; max-width:60%;border-radius:30px; padding:3px; background: linear-gradient(#4337d440, rgba(0, 0, 0, 0));">
      <div class="col-md-3">
        <img onclick = "submit('{{livro.titulo}}','{{livro.subtitulo}}','{{livro.listaautores}}','{{livro.linkCapa}}','{{livro.descricao}}','{{livro.listacategoria}}','{{livro.dataPublicacao}}','{{livro.ISBN10}}','{{livro.ISBN13}}', '{{livro.editora}}','{{livro.numeroPaginas}}','{{livro.id}}');"
        {% if livro.linkCapa%}
          src="{{livro.linkCapa}}"
        {% else %}
        <img src="/static/images/imagem_indisponivel.png"
        {% endif %}
        style = "border-radius:30px;">
      </div>

        <div class = "col-md-9">
          <h5>{{livro.titulo}}</h5>
          <h6>{{livro.subtitulo}}</h6>
            {% if livro.autores%}
              Autor(es):
              {% for autores in livro.autores%}
                <div onclick="loading();"><a class = "autorLivro" href="{{url_for('livros_bp.buscar_por_autor', nomeAutor = autores, indiceInicial = 0 )}}" style= "color:black;">{{autores}}</a></div>
              {% endfor %}
            {% endif %}

          {% if livro.categorias%}
            <span onclick="loading();" style = "display:inline">
            {% for categoria in livro.categorias%}
              <a class = "linkGenero" href="/livros/buscarLivrosGenero/{{categoria}}">{{categoria}}</a>
            {% endfor %}
              </span>
          {% endif %}
        </div>
    </div>
  {% endfor %}
    <div>
    {% if colecao_genero.has_prev %}
    <div onclick="loading();" style="width: fit-content; float:left;"><a class = "anterior" href="{{url_for('livros_bp.buscar_por_genero', genero = genero, page=colecao_genero.prev_num)}}">&laquo; Anterior</a></div>
    {% endif %}
    
    {% if colecao_genero.has_next %}
    <div onclick="loading();" style="width: fit-content; float:right;"><a class = "proximo" href="{{url_for('livros_bp.buscar_por_genero', genero = genero, page=colecao_genero.next_num)}}">Próximo &raquo</a></div>
      {% endif %}
    </div>
  </div>

{% else %}
<div class="d-flex align-items-center justify-content-center vh-100">
          <div class="text-center">
            <h1 class="display-1 fw-bold"></h1>
            <p class="fs-3">Não há resultados</p>
            <p class="lead">
                Não há resultados de livros para sua busca: {{textoBuscaLivro}}
            </p>
        </div>
</div>

{% endif %}


<form action="" method="GET" id="formPagina" style = "display:none;">
    <input type="text" id="tituloLivro" name="tituloLivro">
    <input type="text"  id="subtituloLivro" name="subtituloLivro">
    <input type="text" id="autorLivro" name="autorLivro">
    <input type="text"  id="generoLivro" name="generoLivro">
    <input type="text"  id="linkCapa" name="linkCapa">
    <input type="text" id="descricaoLivro" name="descricaoLivro">
    <input type="text"  id="editoraLivro" name="editoraLivro">
    <input type="text" id="idDoLivro" name="idDoLivro">
    <input type="text"  id="dataPublicacaoLivro" name="dataPublicacaoLivro">
    <input type="text"  id="ISBN10" name="ISBN10">
    <input type="text" id="ISBN13" name="ISBN13">
    <input type="text"  id="numeroPaginasLivro" name="numeroPaginasLivro">
  <input type="text"  id="urlAtual" name="urlAtual">
</form>
{% endblock conteudo %}