{% extends 'base.html' %}
{% block conteudo %}


<!--Main Navigation-->
  <!-- Sidebar -->
<div class = "container-fluid">
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alerta" role="alert" id = "alerta" name = "alerta">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}

  <div class="row">
    <div class="col-md-2">
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <div class="d-flex flex-column align-items-center text-center py-3"><img class="rounded-circle mt-1" width="150px" src="/static/images/user_profile.png"><span class="font-weight-bold">{{usuario.nome}}</span><span> </span></div>
    
            <a href="/usuarios/paginausuario/LL" class="list-group-item list-group-item-action py-2 ripple {% if descricaoLista == 'LIVROS LIDOS'  %} active {% endif %}">
             <span>Livros Lidos</span>
            </a>
            <a href="/usuarios/paginausuario/LM" class="list-group-item list-group-item-action py-2 ripple {% if descricaoLista == 'LENDO NO MOMENTO'  %} active {% endif %}">
              <span>Lendo no momento</span>
            </a>
            <a href="/usuarios/paginausuario/LF" class="list-group-item list-group-item-action py-2 ripple {% if descricaoLista == 'LEITURAS FUTURAS'  %} active {% endif %}">
              <span>Leituras Futuras</span>
            </a>
            <a href="/usuarios/paginausuario/LA" class="list-group-item list-group-item-action py-2 ripple {% if descricaoLista == 'LIVROS ABANDONADOS'  %} active {% endif %}">
              <span>Livros Abandonados</span>
            </a>
            <a href="/usuarios/paginausuario/FAV" class="list-group-item list-group-item-action py-2 ripple {% if descricaoLista == 'FAVORITOS'  %} active {% endif %}">
              <span>Favoritos &#10031;</span>
            </a>
            <a href="/usuarios/paginausuario/REC" class="list-group-item list-group-item-action py-2 ripple {% if descricaoLista == 'RECOMENDAÇÃO!'  or descricaoLista == 'RECOMENDAÇÃO!!'%} active {% endif %}">
              <span>Recomendação &#10069; </span>
            </a>
            <!-- Botão Modal Preferências -->
            <button type="button"  class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="modal" data-bs-target="#modalPreferencias">
              Preferências &#9776
            </button>
          </div>
        </div>
      </nav>  
    </div>
  <!-- Sidebar -->
  <!--Main layout-->
    <div class="col-md-10" id = "Conteudo" style="position: relative; margin-top:50px;">

     {% if quantidadeRetorno and quantidadeRetorno > 0  %}
      <h1 style = "border-bottom: solid 1px;">{{descricaoLista}}</h1>
      
      {% if descricaoLista == 'RECOMENDAÇÃO!'  or descricaoLista == 'RECOMENDAÇÃO!!'%}
      <div style = "margin-bottom:30px; margin-top:20px;">
        <a href="/usuarios/paginausuario/REC" class="list-group-item list-group-item-action py-2 ripple" style = "font-family: Times New Roman; border-radius:8%; display:inline; border:solid 1px; margin-right:40px; padding:40px; {% if descricaoLista == 'RECOMENDAÇÃO!'  %} background-color:#0d6efd; color:white; {% endif %}">
          <span>Baseada nas listas</span>
        </a>
        <a href="/usuarios/paginausuario/RECPREF" class="list-group-item list-group-item-action py-2 ripple" style = "border-radius:8%; display:inline; border:solid 1px; padding:40px; {% if descricaoLista == 'RECOMENDAÇÃO!!'  %} background-color:#0d6efd; color:white; {% endif %}">
          <span>Baseada nas preferências</span>
        </a>
      </div>
      {% endif %}
      
      <div style="position: absolute; width:100%;">
      <div class="row">
      {% for livro in listaLivros %}
        <div class = "col-md-2">
          {% if livro.linkCapa%}
          <div class = "capasLivrosListas">
            <img  onclick="location.href = '/livros/paginalivro/' + '{{livro.id}}';" src="{{livro.linkCapa}}">
            <span class="tooltiptext">{{livro.titulo}} {{livro.subtitulo}} </span>
          </div>
          {% else %}
          <div class = "capasLivrosListas">
            <div class = "capaLivro"  onclick="location.href = '/livros/paginalivro/' + '{{livro.id}}';">
              {{livro.titulo}} {{livro.subtitulo}}
            </div>
            <span class="tooltiptext">{{livro.titulo}} {{livro.subtitulo}} </span>
          </div>
          
          {% endif %}
        </div>
      
      {% endfor%}
        </div>
      {% elif quantidadeRetorno == 0 %}
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Não há livros na lista</h4>
            </div>
          </div>
        </div>
      </div>
        {% if descricaoLista == 'RECOMENDAÇÃO!'  or descricaoLista == 'RECOMENDAÇÃO!!'%}
        <div style = "margin-bottom:30px; margin-top:20px;">
          <a href="/usuarios/paginausuario/REC" class="list-group-item list-group-item-action py-2 ripple" style = "font-family: Times New Roman; border-radius:8%; display:inline; border:solid 1px; margin-right:40px; padding:40px; {% if descricaoLista == 'RECOMENDAÇÃO!'  %} background-color:#0d6efd; color:white; {% endif %}">
            <span>Baseada nas listas</span>
          </a>
          <a href="/usuarios/paginausuario/RECPREF" class="list-group-item list-group-item-action py-2 ripple" style = "border-radius:8%; display:inline; border:solid 1px; padding:40px; {% if descricaoLista == 'RECOMENDAÇÃO!!'  %} background-color:#0d6efd; color:white; {% endif %}">
            <span>Baseada nas preferências</span>
          </a>
        </div>
        {% endif %}
      
  
      {% else %}
        <div class = "col-md-10">
          <div class = "container-fluid" style = "padding: 5vw 50vw 5vw 15vw;" >
              <div class="row" style = "width:60vh;">
                <div class = "col">
                  <div class="quadradoPaginaUsuario">Lidos<br> {{quantidade_livros[0]}}</div>
                  </div>
                <div class = "col">
                  <div class="quadradoPaginaUsuario">Lendo<br>{{quantidade_livros[1]}}</div>
                </div>
              </div>
              <div class="row" style = "width:60vh;">
                <div class = "col">
                  <div class="quadradoPaginaUsuario">Futuros<br> {{quantidade_livros[2]}}</div>
                </div>
                <div class = "col">
                  <div class="quadradoPaginaUsuario">Abandonados<br>{{quantidade_livros[3]}}</div>
                </div>
              </div>
              <div class="row" id = "quadradoPaginaUsuarioFavoritos" style = "width:60vh;">
                <div class = "col">
                    <div style = "display:inline-flex; border:5px double yellow; padding:18px; background:#d4af37;">
                      {{quantidade_livros[4]}}
                    </div>
                </div>
                <div class = "col" style = "padding:1vw;">
                    <div style = "display:inline-flex;"> 
                      FAVORITOS &#9733;
                    </div> 
                </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
  
      {% endif %}
      
      
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPreferencias" tabindex="-1" aria-labelledby="LabelModalPreferencias" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalPreferencias">Preferências (máximo 5)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Arquitetura" id="checkboxArquitetura" name="checkboxArquitetura">
          <label class="form-check-label" for="checkboxArquitetura">
            Arquitetura
          </label>
        </div>
        <div class="form-check  form-check-inline">
          <input class="form-check-input" type="checkbox" value="Aventura" id="checkboxAventura" name="checkboxAventura">
          <label class="form-check-label" for="checkboxAventura">
            Aventura
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ação" id="checkboxAcao" name="checkboxAcao">
          <label class="form-check-label" for="checkboxAcao">
            Ação
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Arte" id="checkboxArte" name="checkboxArte">
          <label class="form-check-label" for="checkboxArte">
            Arte
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Artes Performáticas" id="checkboxArtesPerformaticas" name="checkboxArtesPerformaticas">
          <label class="form-check-label" for="checkboxArtesPerformaticas">
            Artes Performáticas
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Artes e Disciplinas da Linguagem" id="checkboxArtesEDisciplinasDaLinguagem" name="checkboxArtesEDisciplinasDaLinguagem">
          <label class="form-check-label" for="checkboxArtesEDisciplinasDaLinguagem">
            Artes e Disciplinas da Linguagem
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Artesanato e passatempos" id="checkboxArtesanatoEPassatempos" name="checkboxArtesanatoEPassatempos">
          <label class="form-check-label" for="checkboxArtesanatoEPassatempos">
            Artesanato e passatempos
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Autobiografia" id="checkboxAutobiografia" name="checkboxAutobiografia">
          <label class="form-check-label" for="checkboxAutobiografia">
            Autobiografia
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Antiguidades e Colecionáveis" id="checkboxAntiguidadesEColecionaveis" name="checkboxAntiguidadesEColecionaveis">
          <label class="form-check-label" for="checkboxAntiguidadesEColecionaveis">
            Antiguidades e Colecionáveis
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Auto-Ajuda" id="checkboxAutoAjuda" name="checkboxAutoAjuda">
          <label class="form-check-label" for="checkboxAutoAjuda">
            Auto-Ajuda
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Auxílios de Estudo" id="checkboxAuxiliosDeEstudo" name="checkboxAuxiliosDeEstudo">
          <label class="form-check-label" for="checkboxAuxiliosDeEstudo">
            Auxílios de Estudo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Bíblia" id="checkboxBiblia" name="checkboxBiblia">
          <label class="form-check-label" for="checkboxBiblia">
            Bíblia
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Biografia" id="checkboxBiografia" name="checkboxBiografia">
          <label class="form-check-label" for="checkboxBiografia">
            Biografia
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Casa" id="checkboxCasa" name="checkboxCasa">
          <label class="form-check-label" for="checkboxCasa">
            Casa
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Cozinha" id="checkboxCozinha" name="checkboxCozinha">
          <label class="form-check-label" for="checkboxCozinha">
            Cozinha
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Conto" id="checkboxConto" name="checkboxConto">
          <label class="form-check-label" for="checkboxConto">
            Conto
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Computadores" id="checkboxComputadores" name="checkboxComputadores">
          <label class="form-check-label" for="checkboxComputadores">
            Computadores
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Corpo, mente e espírito" id="checkboxCorpoMenteEspirito" name="checkboxCorpoMenteEspirito">
          <label class="form-check-label" for="checkboxCorpoMenteEspirito">
            Corpo, mente e espírito
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ciência" id="checkboxCiencia" name="checkboxCiencia">
          <label class="form-check-label" for="checkboxCiencia">
            Ciência
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ciência Política" id="checkboxCienciaPolitica" name="checkboxCienciaPolitica">
          <label class="form-check-label" for="checkboxCienciaPolitica">
            Ciência Política
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ciência Social" id="checkboxCienciaSocial" name="checkboxCienciaSocial">
          <label class="form-check-label" for="checkboxCienciaSocial">
            Ciência Social
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Coleções Literárias" id="checkboxColecoesLiterarias" name="checkboxColecoesLiterarias">
          <label class="form-check-label" for="checkboxColecoesLiterarias">
            Coleções Literárias
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Criticismo Literário" id="checkboxCriticismoLiterario" name="checkboxCriticismoLiterario">
          <label class="form-check-label" for="checkboxCriticismoLiterario">
            Criticismo Literário
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Drama" id="checkboxDrama" name="checkboxDrama">
          <label class="form-check-label" for="checkboxDrama">
            Drama
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Design" id="checkboxDesign" name="checkboxDesign">
          <label class="form-check-label" for="checkboxDesign">
            Design
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Direito" id="checkboxDireito" name="checkboxDireito">
          <label class="form-check-label" for="checkboxDireito">
            Direito
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Detetive" id="checkboxDetetive" name="checkboxDetetive">
          <label class="form-check-label" for="checkboxDetetive">
            Detetive
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Economia e Negócios" id="checkboxEconomiaENegocios" name="checkboxEconomiaENegocios">
          <label class="form-check-label" for="checkboxEconomiaENegocios">
            Economia e Negócios
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Educação" id="checkboxEducacao" name="checkboxEducacao">
          <label class="form-check-label" for="checkboxEducacao">
            Educação
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Estudo de Língua Estrangeira" id="checkboxEstudoDeLinguaEstrangeira" name="checkboxEstudoDeLinguaEstrangeira">
          <label class="form-check-label" for="checkboxEstudoDeLinguaEstrangeira">
            Estudo de Língua Estrangeira
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Esportes e Recreações" id="checkboxEsportesERecreacoes" name="checkboxEsportesERecreacoes">
          <label class="form-check-label" for="checkboxEsportesERecreacoes">
            Esportes e Recreações
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Épico" id="checkboxEpico" name="checkboxEpico">
          <label class="form-check-label" for="checkboxEpico">
            Épico
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Fantasia" id="checkboxFantasia" name="checkboxFantasia"">
          <label class="form-check-label" for="checkboxFantasia">
            Fantasia
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Fantasia Urbana" id="checkboxFantasiaUrbana" name="checkboxFantasiaUrbana">
          <label class="form-check-label" for="checkboxFantasiaUrbana">
            Fantasia Urbana
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ficção" id="checkboxFiccao" name="checkboxFiccao">
          <label class="form-check-label" for="checkboxFiccao">
            Ficção
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ficção Científica" id="checkboxFiccaoCientifica" name="checkboxFiccaoCientifica">
          <label class="form-check-label" for="checkboxFiccaoCientifica">
            Ficção Científica
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ficção Distópica" id="checkboxFiccaoDistopica" name="checkboxFiccaoDistopica">
          <label class="form-check-label" for="checkboxFiccaoDistopica">
            Ficção Distópica
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Filosofia" id="checkboxFilosofia" name="checkboxFilosofia">
          <label class="form-check-label" for="checkboxFilosofia">
            Filosofia
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Fotografia" id="checkboxFotografia" name="checkboxFotografia">
          <label class="form-check-label" for="checkboxFotografia">
            Fotografia
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Família e Relacionamento" id="checkboxFamiliaERelacionamento" name="checkboxFamiliaERelacionamento">
          <label class="form-check-label" for="checkboxFamiliaERelacionamento">
            Família e Relacionamento
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ficção Juvenil" id="checkboxFiccaoJuvenil" name="checkboxFiccaoJuvenil">
          <label class="form-check-label" for="checkboxFiccaoJuvenil">
            Ficção Juvenil
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ficção Jovem Adulta" id="checkboxFiccaoJovemAdulta" name="checkboxFiccaoJovemAdulta">
          <label class="form-check-label" for="checkboxFiccaoJovemAdulta">
            Ficção Jovem Adulta
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="História" id="checkboxHistoria" name="checkboxHistoria">
          <label class="form-check-label" for="checkboxHistoria">
            História
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Humor" id="checkboxHumor" name="checkboxHumor">
          <label class="form-check-label" for="checkboxHumor">
            Humor
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Jogos e Atividades" id="checkboxJogosEAtividades" name="checkboxJogosEAtividades">
          <label class="form-check-label" for="checkboxJogosEAtividades">
            Jogos e Atividades
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Jardinagem" id="checkboxJardinagem" name="checkboxJardinagem">
          <label class="form-check-label" for="checkboxJardinagem">
            Jardinagem
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Matemática" id="checkboxMatematica" name="checkboxMatematica">
          <label class="form-check-label" for="checkboxMatematica">
            Matemática
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Medicina" id="checkboxMedicina" name="checkboxMedicina">
          <label class="form-check-label" for="checkboxMedicina">
            Medicina
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Música" id="checkboxMusica" name="checkboxMusica">
          <label class="form-check-label" for="checkboxMusica">
            Música
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Mistério" id="checkboxMisterio" name="checkboxMisterio">
          <label class="form-check-label" for="checkboxMisterio">
            Mistério
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Natureza" id="checkboxNatureza" name="checkboxNatureza">
          <label class="form-check-label" for="checkboxNatureza">
            Natureza
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Não-Ficção Juvenil" id="checkboxNaoFiccaoJuvenil" name="checkboxNaoFiccaoJuvenil">
          <label class="form-check-label" for="checkboxNaoFiccaoJuvenil">
            Não-Ficção Juvenil
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Não-Ficção Jovem Adulta" id="checkboxNaoFiccaoJovemAdulta" name="checkboxNaoFiccaoJovemAdulta">
          <label class="form-check-label" for="checkboxNaoFiccaoJovemAdulta">
            Não-Ficção Jovem Adulta
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ópera Espacial" id="checkboxOperaEspacial" name="checkboxOperaEspacial">
          <label class="form-check-label" for="checkboxOperaEspacial">
            Ópera Espacial
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Pets" id="checkboxPets" name="checkboxPets">
          <label class="form-check-label" for="checkboxPets">
            Pets
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Poesia" id="checkboxPoesia" name="checkboxPoesia">
          <label class="form-check-label" for="checkboxPoesia">
            Poesia
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Política" id="checkboxPolitica" name="checkboxPolitica">
          <label class="form-check-label" for="checkboxPolitica">
            Política
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Psicologia" id="checkboxPsicologia" name="checkboxPsicologia">
          <label class="form-check-label" for="checkboxPsicologia">
            Psicologia
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Policial" id="checkboxPolicial" name="checkboxPolicial">
          <label class="form-check-label" for="checkboxPolicial">
            Policial
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Religião" id="checkboxReligiao" name="checkboxReligiao">
          <label class="form-check-label" for="checkboxReligiao">
            Religião
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Romance" id="checkboxRomance" name="checkboxRomance">
          <label class="form-check-label" for="checkboxRomance">
            Romance
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Saúde e Bem-Estar" id="checkboxSaudeEBemEstar" name="checkboxSaudeEBemEstar">
          <label class="form-check-label" for="checkboxSaudeEBemEstar">
            Saúde e Bem-Estar
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Suspense" id="checkboxSuspense" name="checkboxSuspense">
          <label class="form-check-label" for="checkboxSuspense">
            Suspense
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Tecnologia e Engenharia" id="checkboxTecnologiaEEngenharia" name="checkboxTecnologiaEEngenharia">
          <label class="form-check-label" for="checkboxTecnologiaEEngenharia">
            Tecnologia e Engenharia
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Transporte" id="checkboxTransporte" name="checkboxTransporte">
          <label class="form-check-label" for="checkboxTransporte">
            Transporte
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Terror" id="checkboxTerror" name="checkboxTerror">
          <label class="form-check-label" for="checkboxTerror">
            Terror
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Viagem" id="checkboxViagem" name="checkboxViagem">
          <label class="form-check-label" for="checkboxViagem">
            Viagem
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="True Crime" id="checkboxTrueCrime" name="checkboxTrueCrime">
          <label class="form-check-label" for="checkboxTrueCrime">
            True Crime
          </label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" onclick = "submitAtualizarPreferências();" class="btn btn-primary">Salvar preferências</button>
      </div>
    </div>
  </div>
</div>
<!--Main layout-->

<form action="" method="POST" id="formPreferencias" style = "display:none;">
    <input type="text" id="stringPreferencias" name="stringPreferencias">
</form>


<script>
    function submitAtualizarPreferências() {
        let checkboxes =
            document.getElementsByClassName('form-check-input');
        let resultado = "";
        var contadorChecked = 0;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                resultado += checkboxes[i].value + "#";
                contadorChecked++;
            }
        }
        resultado = resultado.slice(0,-1);
        if (contadorChecked > 5){
          alert("Selecione apenas 5");
        } 
        else {
        document.getElementById("stringPreferencias").value = resultado;
        document.getElementById("formPreferencias").action = "/usuarios/atualizarPreferencias";
        document.getElementById("formPreferencias").submit();
        loading();
        }        
    }

    function preencherPreferencias(){
      let checkboxes =
      document.getElementsByClassName('form-check-input');
      let stringPreferencias = '{{stringPreferencias}}'
      let preferencias = stringPreferencias.split("#")
      for (var i = 0; i < checkboxes.length; i++){
        if (preferencias.includes(checkboxes[i].value)){
          checkboxes[i].checked = true;
        }
      }
    }

    preencherPreferencias();
    document.title =  'Perfil do ' + '{{usuario.nome}}'
</script>

{% endblock conteudo %}