{% extends 'base.html' %}
{% block conteudo %}

<div id = "Conteúdo" class = "container" style="padding-top:40px">
   {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning" role="alert">
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col-12" style = "position:absolute; top:6%; left:10%;">
      {% if urlBusca %}
      <div onclick="loading();" style="width: fit-content; float:left;"><a class = "anterior" href="{{urlBusca}}">Voltar</a></div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"> <!-- Inicio div da parte esquerda da página -->
      {% if livro.linkCapa%}
      <img src="{{livro.linkCapa}}" style = "border-radius:15px; width:110%;">
      {% else %}
      <div class = "capaLivro"  onclick="location.href = '/livros/paginalivro/' + '{{livro.id}}';" style = "width:215.59px; height:296.44px; font-size:40px;" >{{livro.titulo}}{{livro.subtitulo}} </div>
      {% endif %}

      {% if current_user.is_authenticated and existe == 0 %}  <!-- Inicio If se usuario está logado e o livro não está na lista dele -->

     
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style = "margin-top:20px;">
        Adicionar em sua lista 	&oplus;
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Adicione em uma de suas listas</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card" id = "LivrosLidos" style = "background-color:#7CFC00;" onclick = "submitAdicionarLivro('{{livro.id}}','LL')">
                <div class="card-header">
                  <h6 class="card-title" style = "font-size:=1rem;">Livros lidos</h6>
                </div>
              </div>

              <div class="card" id = "LendoMomento" style = "background-color:#0096C7;"onclick = "submitAdicionarLivro('{{livro.id}}','LM')">
                <div class="card-header">
                  <h6 class="card-title" style = "font-size:=1rem;">Lendo no momento</h6>
                </div>
              </div>

              <div class="card" id = "LeiturasFuturas" style = "background-color:white;" onclick = "submitAdicionarLivro('{{livro.id}}','LF')">
                <div class="card-header">
                  <h6 class="card-title" style = "font-size:=1rem;">Leituras Futuras</h6>
                </div>
              </div>

              <div class="card" id = "LivrosAbandonados" style = "background-color:#FA5F55;" onclick = "submitAdicionarLivro('{{livro.id}}','LA')">
                <div class="card-header">
                  <h6 class="card-title" style = "font-size:=1rem;">Livros Abandonados</h6>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
  
      {% endif %} <!-- Fim If se usuario está logado e o livro não está na lista dele -->
      
      {% if current_user.is_authenticated and existe == 1 %} <!-- Inicio If se usuario está logado e o livro  está na lista dele -->

      <div class="btn-group" role="group" style = "margin-top:20px;">
        <button type="button" class="btn btn-primary" style = "opacity:1; !important" disabled>Livro já na lista {{emqueLista}}</button>
        <button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#removerModal" id = "BotaoRemover" >&#10006; <span class="tooltiptext">Remover da Lista</span> </button>
      </div>

      <div class="modal fade" id="removerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">REMOVER DA SUA LISTA</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Deseja remover {{livro.titulo}} {{livro.subtitulo}} da sua lista?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-danger" onclick = "submitRemoverLivro('{{livro.id}}')">Remover</button>
            </div>
          </div>
        </div>
      </div>

    
      {% if existeEmFavoritos == 0 %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#favoriteModal" style = "margin-top:20px; background-color:#D4AF37 !important; font-size:1rem;">
          Adicionar aos favoritos &oplus;
        </button>
  
        <div class="modal fade" id="favoriteModal" tabindex="-1" aria-labelledby="favoriteModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">ADICIONAR AOS FAVORITOS</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Deseja adicionar {{livro.titulo}} {{livro.subtitulo}} aos favoritos?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick = "submitAdicionarLivro('{{livro.id}}','FAV')" style = "background-color:#D4AF37 !important;">Confirmar</button>
              </div>
            </div>
          </div>
        </div>

      {% endif  %}


      {% if existeEmFavoritos == 1 %}
      
      <div class="btn-group" role="group" style = "margin-top:20px;">
        <button type="button" class="btn btn-primary" style = "opacity:1; !important; background-color:#D5B56E !important;" disabled>Livro nos favoritos</button>
        <button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#removefavoriteModal" id = "BotaoRemoverFavorito" >&#10006; <span class="tooltiptext">Remover dos favoritos</span> </button>
      </div>

      

        <div class="modal fade" id="removefavoriteModal" tabindex="-1" aria-labelledby="removefavoriteModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">REMOVER DOS FAVORITOS</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Deseja remover {{livro.titulo}} {{livro.subtitulo}} dos favoritos?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" onclick = "submitRemoverLivroFavorito('{{livro.id}}')">Remover</button>
              </div>
            </div>
          </div>
        </div>

      {% endif  %}

      <div style = "margin-top:20px;">
          <span onclick = "atualizarNotaPagina(1)" id = "estrelaNota1" class="fa fa-star fa-2x {% if notaLivro >= 1 %} checked {% endif %}"></span>
          <span onclick = "atualizarNotaPagina(2)" id = "estrelaNota2" class="fa fa-star fa-2x {% if notaLivro >= 2 %} checked {% endif %}"></span>
          <span onclick = "atualizarNotaPagina(3)" id = "estrelaNota3" class="fa fa-star fa-2x {% if notaLivro >= 3 %} checked {% endif %}" ></span>
          <span onclick = "atualizarNotaPagina(4)" id = "estrelaNota4" class="fa fa-star fa-2x {% if notaLivro >= 4 %} checked {% endif %}" ></span>
          <span onclick = "atualizarNotaPagina(5)" id = "estrelaNota5" class="fa fa-star fa-2x {% if notaLivro >= 5 %} checked {% endif %}" ></span>
       </div>

      <button type="button" onclick = "atualizarNotaDB('{{livro.id}}')" class="btn btn-primary" style = "margin-top:20px; background-color:#D4AF37 !important; width:100%;">
        Atualizar nota &#10010;
      </button>
      
      
      {% endif  %} <!-- Fim If se usuario está logado e o livro  está na lista dele -->

      <form action="" method="POST" id="formExcluir" style = "display:none;">
          <input type="text" id="idLivroExcluir" name="idLivroExcluir">
      </form>
      <form action="" method="POST" id="formExcluirFavoritos" style = "display:none;">
        <input type="text" id="idLivroExcluirFavorito" name="idLivroExcluirFavorito">
      </form>
      <form action="" method="POST" id="formPagina" style = "display:none;">
          <input type="text" id="idLivro" name="idLivro">
          <input type="text"  id="tipoLista" name="tipoLista">
      </form>

      <form action="" method="POST" id="formAdicionarNota" style = "display:none;">
        <input type="text" id="livro_id_nota" name="livro_id_nota">
        <input type="text" id="nota_livro" name="nota_livro">
      </form>

      <div class="card" style = "margin-top:10px;">
           <div class="card-body text-center"> 
             <h5 class="mt-1">Média de avaliação</h5>
             <span class="mediaLivro">{{media_livro}}</span>
               <h5 class="mt-1">de 5.0</h5>
           </div>
      </div>
      
    </div> <!-- Fim div da parte esquerda da página -->
    
    <div class="col-md-10 style = "padding-left:50px">
      <div class = "container">
        <div class="row" style = "padding:10px;">
          <h3>{{livro.titulo}}</h3>
          <h4>{{livro.subtitulo}}</h4>
          {% if livro.autores%}
              <div onclick="loading();"><a class = "autorLivro" href="/livros/buscarLivrosAutor/{{livro.autores[0]}}/0"><h5>{{livro.autores[0]}}</h5></a></div>
          {% endif %}
        </div>
        <div class="row" style = "padding:10px;  text-align: justify;
          text-justify: inter-word;">
         <span>{% if livro.descricao%}
            {{livro.descricao}}
        {% endif%}</span>
        </div>
        {% if livro.categorias%}
        <div class="row" style = "padding:10px;">
          <section style = "white-space:nowrap;">
            <span style = "opacity:0.7;">Genêros&nbsp;</span>
            {% for categoria in livro.categorias%}
              <span onclick = "submitGenero('{{categoria}}')" class = "linkGenero">{{categoria}}</span>
            {% endfor %}
          </section>
        </div>
        {% endif %}
        {% if livro.numeroPaginas%}
          <div class="row" style = "padding:10px;">
            <section style = "white-space:nowrap;">
              <span style = "opacity:0.7;display:inline;">Páginas</span>
              
                <span style = "display:inline;opacity:0.8;">{{livro.numeroPaginas}}</span>
            </section>
          </div>
        {% endif %}
        {% if livro.dataPublicacao%}
          <div class="row" style = "padding:10px;">
            <section style = "white-space:nowrap;">
              <span style = "opacity:0.7;display:inline;">Publicação</span>
                <span style = "display:inline;opacity:0.8;">{{livro.dataPublicacao}} 
                  {% if livro.editora%}
                    por {{livro.editora}}
                  {% endif%}
                </span>
            </section>
          </div>
        {% endif %}
        {% if livro.ISBN13%}
          <div class="row" style = "padding:10px;">
            <section style = "white-space:nowrap;">
              <span style = "opacity:0.7;display:inline;">ISBN13</span>
                <span style = "display:inline;opacity:0.8;">{{livro.ISBN13}}</span>
            </section>
          </div>
        {% endif %}
        {% if livro.ISBN10%}
          <div class="row" style = "padding:10px;">
            <section style = "white-space:nowrap;">
              <span style = "opacity:0.7;display:inline;">ISBN10</span>
                <span style = "display:inline;opacity:0.8;">{{livro.ISBN10}}</span>
            </section>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  function submitGenero(categoria){
    const url = window.location.origin
    window.location.replace(url + "/livros/buscarLivrosGenero/" + categoria);
    loading();
  }

  function submitAdicionarLivro(idLivro,tipoLista){
    document.getElementById("idLivro").value = idLivro;
    document.getElementById("tipoLista").value = tipoLista;
    document.getElementById("formPagina").action = "/crud_livros/adicionarLivroEmLista/" + idLivro + "/" + tipoLista;
    document.getElementById("formPagina").submit();
    loading();
  }

  function submitRemoverLivro(idLivroExcluir){
    document.getElementById("idLivroExcluir").value = idLivroExcluir;
    document.getElementById("formExcluir").action = "/crud_livros/removerLivroDaLista/" + idLivroExcluir; 
    document.getElementById("formExcluir").submit();
    loading();
  }

  function submitRemoverLivroFavorito(idLivroExcluirFavorito){
    document.getElementById("idLivroExcluirFavorito").value = idLivroExcluirFavorito;
    document.getElementById("formExcluirFavoritos").action = "/crud_livros/removerLivroFavoritos/" + idLivroExcluirFavorito;
    document.getElementById("formExcluirFavoritos").submit();
    loading();
  }

  function atualizarNotaPagina(nota){
    document.getElementById("estrelaNota1").className  = "fa fa-star fa-2x";
    document.getElementById("estrelaNota2").className  = "fa fa-star fa-2x";
    document.getElementById("estrelaNota3").className  = "fa fa-star fa-2x";
    document.getElementById("estrelaNota4").className  = "fa fa-star fa-2x";
    document.getElementById("estrelaNota5").className  = "fa fa-star fa-2x";
    if (nota == 1){
      document.getElementById("estrelaNota1").className  = "fa fa-star fa-2x checked";
  }
    else if (nota == 2){
      document.getElementById("estrelaNota1").className  = "fa fa-star fa-2x checked";
      document.getElementById("estrelaNota2").className  = "fa fa-star fa-2x checked";
    }
    else if (nota == 3){
      document.getElementById("estrelaNota1").className  = "fa fa-star fa-2x checked";
      document.getElementById("estrelaNota2").className  = "fa fa-star fa-2x checked";
      document.getElementById("estrelaNota3").className  = "fa fa-star fa-2x checked";
    }
    else if (nota == 4){
      document.getElementById("estrelaNota1").className  = "fa fa-star fa-2x checked";
      document.getElementById("estrelaNota2").className  = "fa fa-star fa-2x checked";
      document.getElementById("estrelaNota3").className  = "fa fa-star fa-2x checked";
      document.getElementById("estrelaNota4").className  = "fa fa-star fa-2x checked";
    }
    else if (nota == 5){
      document.getElementById("estrelaNota1").className  = "fa fa-star fa-2x checked";
      document.getElementById("estrelaNota2").className  = "fa fa-star fa-2x checked";
      document.getElementById("estrelaNota3").className  = "fa fa-star fa-2x checked";
      document.getElementById("estrelaNota4").className  = "fa fa-star fa-2x checked";
      document.getElementById("estrelaNota5").className  = "fa fa-star fa-2x checked";
    }
    document.getElementById("nota_livro").value = nota;
  }

  function atualizarNotaDB(idLivroNota){
    document.getElementById("livro_id_nota").value = idLivroNota;
    notaLivro = document.getElementById("nota_livro").value;
    if ((notaLivro != 1 ) && (notaLivro != 2) && (notaLivro != 3) && (notaLivro != 4) && (notaLivro != 5) ){
      alert("Selecione uma nota");
    } 
    else{
      document.getElementById("formAdicionarNota").action = "/crud_livros/adicionarNotaEmLivro/" + idLivroNota + "/" + notaLivro;
      document.getElementById("formAdicionarNota").submit();
      loading();
    }
  }
    
</script>

{% endblock conteudo %}