{% extends 'base.html' %}
{% block conteudo %}

<div id = "Conteúdo" class = "container" style="padding-top:40px">
  <div class="row">
    <div class="col-12" style = "position:absolute; top:6%; left:10%;">
      {% if urlBusca %}
      <div onclick="loading();" style="width: fit-content; float:left;"><a class = "anterior" href="{{urlBusca}}">Voltar</a></div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% if livro.linkCapa%}
      <img src="{{livro.linkCapa}}" style = "border-radius:15px; width:110%;">
      {% else %}
      <img src="/static/images/imagem_indisponivel.png" style = "border-radius:15px;">
      {% endif %}
    </div>
    <div class="col-md-10 style = "padding-left:50px">
      <div class = "container">
        <div class="row" style = "padding:10px;">
          <h3>{{livro.titulo}}</h3>
          <h4>{{livro.subtitulo}}</h4>
          {% if livro.autores%}
              <div onclick="loading();"><a class = "autorLivro" href="/livros/buscarLivrosAutor/{{livro.autores[0]}}/0"><h5>{{livro.autores[0]}}</h5></a></div>
          {% endif %}
        </div>
        <div class="row" style = "padding:10px;">
         <span>{% if livro.descricao%}
            {{livro.descricao}}
        {% endif%}</span>
        </div>
        {% if livro.categorias%}
        <div class="row" style = "padding:10px;">
          <section style = "white-space:nowrap;">
            <span style = "opacity:0.7;">Genêros&nbsp;</span>
            {% for categoria in livro.categorias%}
              <span onclick = "submitGenero('{{categoria}}')" class = "linkGenero">{{categoria}}</span>
            {% endfor %}
          </section>
        </div>
        {% endif %}
        {% if livro.numeroPaginas%}
          <div class="row" style = "padding:10px;">
            <section style = "white-space:nowrap;">
              <span style = "opacity:0.7;display:inline;">Páginas</span>
              
                <span style = "display:inline;opacity:0.8;">{{livro.numeroPaginas}}</span>
            </section>
          </div>
        {% endif %}
        {% if livro.dataPublicacao%}
          <div class="row" style = "padding:10px;">
            <section style = "white-space:nowrap;">
              <span style = "opacity:0.7;display:inline;">Publicação</span>
                <span style = "display:inline;opacity:0.8;">{{livro.dataPublicacao}} 
                  {% if livro.editora%}
                    por {{livro.editora}}
                  {% endif%}
                </span>
            </section>
          </div>
        {% endif %}
        {% if livro.ISBN13%}
          <div class="row" style = "padding:10px;">
            <section style = "white-space:nowrap;">
              <span style = "opacity:0.7;display:inline;">ISBN13</span>
                <span style = "display:inline;opacity:0.8;">{{livro.ISBN13}}</span>
            </section>
          </div>
        {% endif %}
        {% if livro.ISBN10%}
          <div class="row" style = "padding:10px;">
            <section style = "white-space:nowrap;">
              <span style = "opacity:0.7;display:inline;">ISBN10</span>
                <span style = "display:inline;opacity:0.8;">{{livro.ISBN10}}</span>
            </section>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  function submitGenero(categoria){
    const url = window.location.origin
    window.location.replace(url + "/livros/buscarLivrosGenero/" + categoria + "/0");
    loading();
  }
</script>

{% endblock conteudo %}