{% extends 'base.html' %}
{% block conteudo %}

<div id = "Conteúdo" class = "container" style="padding-top:40px">
  <div class="row">
    <div class="col-md-2">
      {% if livro.linkCapa%}
      <img src="{{livro.linkCapa}}" style = "border-radius:15px; width:110%;">
      {% else %}
      <img src="/static/images/imagem_indisponivel.png" style = "border-radius:15px;">
      {% endif %}
    </div>
    <div class="col-md-10 style = "padding-left:50px">
      <div class = "container">
        <div class="row" style = "padding:10px;">
          <h3>{{livro.titulo}}</h3>
          <h4>{{livro.subtitulo}}</h4>
          {% if livro.autores%}
              <div onclick="loading();"><a class = "autorLivro" href="/livros/buscarLivrosAutor/{{livro.autores[0]}}/0"><h5>{{livro.autores[0]}}</h5></a></div>
          {% endif %}
        </div>
        <div class="row" style = "padding:10px;">
         <span>{% if livro.descricao%}
            {{livro.descricao}}
        {% endif%}</span>
        </div>
        <div class="row" style = "padding:10px;display:inline;">
          <span style = "opacity:0.7;">Genêros</span>
          {% if livro.categorias%}
            <span onclick="loading();" style = "display:inline">
            {% for categoria in livro.categorias%}
              <a class = "linkGenero" href="/livros/buscarLivrosGenero/{{categoria}}/0">{{categoria}}</a>
            {% endfor %}
              </span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock conteudo %}